// Create grayscale
$gray1:             #182153;
$gray2:             #aeb4d4;
// $gray3:             #757474;
// $gray4:             #f9f8f8;
// $gray5:             #141414;
// $gray6:             #0c0c0c;
// $gray7:             #c9c9c9;

// Reassign color vars to semantic color scheme
$brand-primary:             #cb2d3e;
$brand-primary1:            #ef473a;
$brand-secondary:           #a044ff;
