
// @font-face{
//     font-family: ar-font;
//     src: url(../webfonts/Roboto-Regular.ttf);
// }
// @font-face{
//     font-family: Merriweather-BlackItalic;
//     src: url(../fonts/Merriweather-BlackItalic.ttf);
// }

// @font-face{
//     font-family: Roboto;
//     src: url(../fonts/Roboto-Regular.ttf);
// }

// @font-face{
//     font-family: JF-Flat;
//     src: url(../webfonts/JF-Flat-regular.ttf);
// }



@import '_variables';

body {
    font-family: 'comic sans ms' ,  'Times New Roman', Times, serif;
}

.container-fluid{
    padding: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.container{
    padding-left: 0;
    padding-right: 0;
}

nav#navBar{
    background: linear-gradient(90deg,
        rgba(235, 237, 249, 0.80) 50%,
        rgba(255, 255, 255, 0.80) 50%);
    box-shadow: 0px 0px 4px 2px $gray1;
    padding: 10px 0;
    transition: all 0.5s ease-in;    
    .navagation{
        box-shadow: 0 0 10px 5px rgba(13, 15, 19, 0.4);
        background-color: white;
        padding-left: 15px;
        padding-right: 15px;
        button{
            i.fa{
                color: $gray1;
                padding: 10px;
                border: 1px solid $gray1;
            }
            &:hover,
            &:focus,
            &:active{
                outline: none;
                i.fa{
                    outline: none;
                    color: $gray2;
                    background-color: $gray1;
                    border: 1px solid white;
                }
            }
        }
    }
    a{
        color:$gray1;
        padding: 5px 5px;
        margin: 0 10px;
        @media(min-width: 992px) and (max-width:1200px){
            margin: 0 4px;
        }
    }
    a.navbar-brand{
        font-size: 28px;
        font-weight: bold;
        margin: 0;
        &:hover,
        &:focus,
        &:active{
            color: $gray2;
            border-radius: 3px;
        }
    }
    .navbar-collapse{
        flex-grow: 0;
    }
    ul.navbar-nav li a{
        &:hover,
        &:focus,
        &:active{
            box-shadow: 0 0 1px 1px $gray1;
            background-color: $gray1;
            color: white;
        }
    }
    a.nav-link.scroll.active{
        background-color: $gray1;
        color: white;
    }
}

#navBar.noTransparrent{
    background: transparent;
    border-bottom: none;
    box-shadow: none;
}

#header{
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100%;
    .overlay{
        background:rgba(13, 15, 19, 0.4);
        padding-top: 180px;
        min-height: 100%;
        .header{
            .col-md-6{
                padding-left: 0;
                padding-right: 0;
                .personal-info{
                    height: auto;    ;
                    background-color: white;
                    height: 100%;
                    padding: 80px;
                    opacity: .9;
                    .title{
                        h2{
                            font-size: 30px;
                            line-height: 45px;
                            margin: 0;
                        }
                        h5{
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 20px;
                            margin-bottom: 20px;
                        }
                    }
                    .sub-title{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    p.top-adress{
                        margin-bottom: 0;
                    }
                    @media (max-width: 992px){
                        padding: 40px;
                    }
                }
                .photo{
                    background-color: white;
                    height: 530px;
                    img{
                        width: 100%;
                    }
                }
            }    
        }
        .social{
            position: relative;
            z-index: 10;
        }
        .social-icons{
            position: absolute;
            line-height: 75px;
            width: 100%;
            background: darken($gray1, $amount: 20);
            background-color: $gray1;
            ul{
                padding: 0;
                margin: 0;
                li{
                    a{
                        color: white;
                        padding: 15px;
                        i.fab{
                            font-size: 20px;
                        }
                        &:hover,
                        &:active,
                        &:focus{
                            color: $gray2;
                        }
                    }
                }
            }
        }
    }
}

#introduce{
    padding-top: 180px;
    padding-bottom: 120px;
    background-color: $gray2;
    position: relative;
    .title{
        h1{
            font-size: 32px;
            margin-bottom: 40px;
        }
    }
    p.int-body{
        font-size: 18px;
        line-height: 35px;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
}

#experiance{
    padding-top: 40px;
    padding-bottom: 60px;
    h2{
        padding-top: 40px;
        padding-bottom: 40px;
        color: $gray1;
        position: relative;
        &:before,
        &:after{
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before{
            width:100px;
            height: 3px;
            top: 100px;
            background-color: $gray1;            
        }
        &:after{
            width: 3px;
            height: 400%;
            top: 175px;
            background-color: $gray2;
            @media(max-width: 1200px)and(min-width: 992px){
                height: 460%;
            }
            @media(max-width: 992px)and(min-width: 768px){
                height: 590%;
            }
            @media(max-width: 768px)and(min-width: 576px){
                height: 707%;
            }
            @media(max-width: 576px){
                display: none;
            }
        }
    }
    .history{
        .duration{
            padding-right: 25px;
            position: relative;
            margin-top: 40px;
            h4{
                font-size: 18px;
                font-weight: bold;
            }
            h5{
                font-size: 18px;
            }
            &:before{
                content: "";
                background-color: $gray1;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 5px;
                right: -5px;
                border-radius: 50%;
            }
            @media(max-width: 576px){
                text-align: center;
                &:before{
                    display: none;
                }
            }
        }
        .job{
            margin-top: 40px;
            padding-left: 25px;
            h3{
                font-size: 18px;
                font-weight: bold;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                text-align: justify;
            }
            @media(max-width: 576px){
                margin-top: 20px;
            }
        }
    }
}

#education{
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: $gray2;
    h2{
        padding-top: 40px;
        padding-bottom: 40px;
        color: $gray1;
        position: relative;
        &:before,
        &:after{
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before{
            width:100px;
            height: 3px;
            top: 100px;
            background-color: $gray1;            
        }
        &:after{
            width: 3px;
            height: 400%;
            top: 175px;
            background-color: $gray1;            
            @media(max-width: 1200px)and(min-width: 992px){
                height: 460%;
            }
            @media(max-width: 992px)and(min-width: 768px){
                height: 590%;
            }
            @media(max-width: 768px)and(min-width: 576px){
                height: 707%;
            }
            @media(max-width: 576px){
                display: none;
            }
        }
    }
    .schools{
        .degree{
            padding-right: 25px;
            position: relative;
            margin-top: 40px;
            h4{
                font-size: 18px;
                font-weight: bold;
            }
            h5{
                font-size: 18px;
            }
            &:before{
                content: "";
                background-color: $gray1;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 5px;
                right: -5px;
                border-radius: 50%;
            }
            @media(max-width: 576px){
                text-align: center;
                padding-left: 25px;
                &:before{
                    display: none;
                }
            }
        }
        .school{
            margin-top: 40px;
            padding-left: 25px;
            h3{
                font-size: 18px;
                font-weight: bold;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                text-align: justify;
            }
            @media(max-width: 576px){
                margin-top: 20px;
            }
        }
    }
}

#certificates{
    background: radial-gradient($gray2, $gray1);
    padding-top: 40px;
    padding-bottom: 100px;
    .title{
        h2{
            padding-top: 40px;
            padding-bottom: 40px;
            color: $gray1;
            position: relative;
            &:before{
                width:100px;
                height: 3px;
                top: 100px;
                background-color: $gray1;
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);         
            }
        }
    }
    .carousel-inner{
        margin-top: 40px;
    }
    .carousel-item{
        h1{
            font-size: 32px;
            line-height: 45px;
            font-weight: bold;
            margin-bottom: 30px; 
        }
        h3{
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 20px; 
        }
        h5{
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 20px; 
        }
        p{
            font-size: 16px;
            line-height: 25px;
            font-weight: bold;
        }
    }
    #carouselExampleIndicators{
        ol{
            bottom: -35px;
            li{
                height: 10px;
                width: 10px;
                margin-left: 5px;
                margin-right: 5px;
                &:hover,
                &:active,
                &:focus{
                    background-color: $gray1;
                    cursor: pointer;
                }
            }
        }
    }
}

#projects{
    background: radial-gradient($gray1, $gray2 30%);
    padding-top: 40px;
    padding-bottom: 60px;
    .title{
        h2{
            padding-top: 40px;
            padding-bottom: 40px;
            color: $gray1;
            position: relative;
            &:before{
                width:100px;
                height: 3px;
                top: 100px;
                background-color: $gray1;
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);         
            }
        }
    }
    .gallery{
        margin-top: 40px;
        input{
            display: none;
        }
        input.item-type-1:checked ~ label.label-type-1,
        input.item-type-2:checked ~ label.label-type-2,
        input.item-type-3:checked ~ label.label-type-3,
        input.item-type-all:checked ~ label.label-type-all{
            color: white;
            background-color: $brand-primary1;
            box-shadow: 0 0 2px 2px $brand-primary1;
        }

        input.item-type-1:checked ~ .items .item.item-type-1,
        input.item-type-2:checked ~ .items .item.item-type-2,
        input.item-type-3:checked ~ .items .item.item-type-3,{
            transform: scale(1.08);
        }

        input.item-type-1:checked ~ .items .item:not(.item-type-1),
        input.item-type-2:checked ~ .items .item:not(.item-type-2),
        input.item-type-3:checked ~ .items .item:not(.item-type-3){
            transform: scale(0.7);
            opacity: .6;
        }
        .items .item{
            margin-top: 25px;
            transition: all .5s ease;
            .project{
                position: relative;
            }
            .project-overlay{
                position: absolute;
                background: rgba(24, 33, 83, .8);
                height: 100%;
                width: 100%;
                top: 0;
                color: white;
                display: none;
            }
            @media(max-width:575px){
                img{
                    width: 90%;
                }
            }
            .category{
                background: rgba($color:#182153, $alpha: .4);
                left: 0px;
                top: 20px;
                padding: 10px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                position: absolute;
                font-weight: bold;
                font-size: 15px;
                box-shadow: 5px 5px 10px 0px #292b2c;
            }
        }

        label{
            padding: 10px 30px;
            color: $gray1;
            box-shadow: 0 0 2px 2px $gray1;
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 35px;
            text-decoration: none;
            font-family: 'Cairo SemiBold';
            cursor: pointer;
            border-radius: 2px;
            transition: all .5s ease;
            &:hover,
            &:focus,
            &:active{
                color: white;
                background-color: $brand-primary1;
                box-shadow: 0 0 2px 2px $brand-primary1;
            }
        }
    }
}

#skills{
    padding-top: 40px;
    padding-bottom: 60px;
    .title{
        h2{
            padding-top: 40px;
            padding-bottom: 40px;
            color: $gray1;
            position: relative;
            &:before{
                width:100px;
                height: 3px;
                top: 100px;
                background-color: $gray1;
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);         
            }
        }
    }
}
